html 
    head 
        title TV synopsis   
        link(rel= "stylesheet" href= "/css/styles.css")

    body 
        h1= showdata.title 

        h2 Developed By 

        h2 Starring 

        h2 Seasons